$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 300;
$font-size-base: 18px;
$font-size-h1: floor($font-size-base * 4);
$font-size-h2: floor($font-size-base * 2.5);
$nav-tabs-border-color: #f1d9b7;
$nav-tabs-active-link-hover-border-color: #e3a958;
$line-height-base: 1.8;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * BOOTSTRAP
 */

.text-white {
    color: #fff;
}

.nav-tabs {
    &.nav-justified {
        border-bottom: 1px solid $nav-tabs-border-color;
        > .active {
            > a {
                &,
                &:hover,
                &:focus {
                    border: none;
                    border-bottom-color: initial;
                    border-bottom: 1px solid $nav-tabs-active-link-hover-border-color;
                    cursor: default;
              }
            }
        }
    }
  > li {
    // > a {
    //   border-radius: $border-radius-base $border-radius-base 0 0;
    //   &:hover {
    //     border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
    //   }
    // }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        border: none;
        border-bottom: 1px solid $nav-tabs-active-link-hover-border-color;
        cursor: default;
      }
    }
  }
}

/**
 * CUSTOM
 */

.top-bar {
    @media screen and (max-width: 480px) {
        height: 340px;
    }
    height: 250px;
    background: url("/img/topbar.jpg");
    background-position: 50% 50%;
    background-size: cover;
    h1 {
        margin-top: 3rem;
    }
}

#profile-pic {
    width: 222px;
    height: 222px;
    display: block;
    margin: 0 auto;
    margin-top: -111px;
    border: 3px solid white;
}

.main-content {
    margin-top: 2.5rem;
}